/* 
const layoutStyle = {
  margin: 20,
  padding: 20,
  border: "1px solid #DDD",
  background: "#2C2F33",
  fontFamily: "sans-serif"
};
*/

.main {
  margin: 20px;
  padding: 20px;
  border: "1px solid #DDD";
  background: #2c2f33;
  font-family: sans-serif;
}
